@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  margin: 0;
  padding: 0%;
}

body {
  background-image: url(https://i.pinimg.com/originals/40/eb/6c/40eb6cb5f9e91a3766b9a3134203aa56.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

section {
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0) 50%);
  border-radius: 40px;
  height: 700px;
}

.title {
  width: 100%;
  text-align: center;
}

.container {
  margin: 30px auto;
  width: 380px;
  padding: 10px;
}

h4 {
  text-transform: uppercase;
  margin-top: 10px;
  color: rgb(27, 221, 211);
}

h1 {
  color: #ffffff;
}
.balance {
  margin-top: 5px;
  font-size: 18px;
}

.receitas_despesas {
  background-color: rgb(69, 1, 124);
  display: flex;
  border-radius: 14px;
  justify-content: space-between;
  margin: 20px 0;
}

.receitas_despesas > div {
  flex: 1;
  text-align: center;
}

.receitas_despesas > div:first-of-type {
  border-right: 1px solid #000000;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #9e85f0;
}

h3 {
  display: flex;
  font-size: 18px;
  padding: 4px;
  padding-left: 10px;
  background-color: rgb(69, 1, 124);
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

label {
  font-size: 15px;
  display: inline-block;
  margin: 10px 0;
  color: rgb(255, 255, 255);
}

input[type="text"],
input[type="number"] {
  border: 1px solid #0f02029a;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  width: 94%;
  background-color: rgb(69, 1, 124);
}

#amount {
  color: white;
}

.btn {
  cursor: pointer;
  color: rgb(13, 255, 235);
  background-image: linear-gradient(
    to right,
    blue,
    rgb(4, 199, 248),
    rgb(10, 19, 248)
  );
  box-shadow: var(--box-shadow);
  color: rgb(0, 4, 5);
  border: 0;
  border-radius: 15px;
  display: block;
  font-size: 20px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:hover {
  background-color: rgb(7, 65, 62);
  transition: 0.5s;
  color: rgb(13, 255, 235);
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.transactions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.transactions li {
  background-color: rgb(0, 0, 0);
  box-shadow: var(--box-shadow);
  color: rgb(8, 215, 230);
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 90%;
  margin: 10px auto;
}

.transactions li.plus {
  border-right: 5px solid #2ecc71;
}

.transactions li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.transactions li:hover .delete-btn {
  opacity: 1;
}

@media (max-width: 700px) {
  .transactions li {
    margin: 10px 20px;
  }
}

@media (max-width: 400px) {
  .container {
    width: 250px;
  }
}
